.circle-nav {
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  color: rgb(250, 251, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-size: 1.2em;
}

.circle-nav:hover {
  opacity: 0.8;
}

#nav-profile {
  height: 8vw;
  min-height: 50px;
  width: 8vw;
  min-width: 50px;
  background-color: #CC262A;
  top: 35vh;
  right: 35vw;
  box-shadow: -3px -3px 6px rgba(204, 38, 42, 50);
}

#nav-projects {
  height: 20vw;
  min-height: 120px;
  width: 20vw;
  min-width: 120px;
  background-color: #F2972D;
  top: 40vh;
  left: 10vw;
  box-shadow: -3px -3px 6px rgba(242, 151, 45, 50);
}

#nav-contact {
  height: 14vw;
  min-height: 80px;
  width: 14vw;
  min-width: 80px;
  background-color: #20244A;
  bottom: 30vh;
  right: 15vw;
  box-shadow: -3px -3px 6px rgba(32, 36, 74, 50);
}